/* theme color */
$--color-white: #fefefe;
$--color-black: #131313;

$--color-primary: #2c4e8e;
$--background-color-base: #f5f7fa;
$--fill-base: $--color-white;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";