// Users.rules
    match /users/{userId} {
      allow list: if false
      allow get: if isSignedIn()
      allow update: if isUserId(userId)
        && allowedFields(['email', 'fullname', 'image', 'roles', 'created'])
        && hasNotChanged(['email', 'image', 'roles', 'created']);
    }